img {
  width: 100%;
  border-radius: 5px;
}

.navContainer1 {
  display: flex;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
@media (max-width: 500px) {
  .button-container {
    justify-content: center;
    margin-top: 10px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.footer {
  padding-top: 10px;
  margin-top: 20px;
}
.hidden {
  display: none;
}

.visible {
  display: block;
}

.themeButton {
  background-color: transparent;
  border: none;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}
